<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @video_game.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @video_game.name %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @video_game.editor %>
</p>

<p>
  <strong>Img url:</strong>
  <img style="width:150px;" src="<%= @video_game.img_url %>">
</p>

<%= link_to 'Edit', edit_video_game_path(@video_game) %> |
<%= link_to 'Back', video_games_path %>
<%= link_to 'New Analysis', new_analysis_path %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Field</th>
      <th>Created at</th>
      <th>User</th>
      <th>Videogame</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @analyses.where(:videogame_id => @video_game.id).each do |analysis| %>
      <tr>
        <td><%= analysis.id %></td>
        <td><%= analysis.title %></td>
        <td><%= analysis.field %></td>
        <td><%= analysis.created_at %></td>
        <td><%= analysis.user_id %></td>
        <td><%= link_to 'Edit', edit_analysis_path(analysis) %></td>
        <td><%= link_to 'Destroy', analysis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
