<p id="notice"><%= notice %></p>

<h1>Analyses</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Field</th>
      <th>Created at</th>
      <th>User</th>
      <th>Videogame</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @analyses.each do |analysis| %>
      <tr>
        <td><%= analysis.id %></td>
        <td><%= analysis.title %></td>
        <td><%= analysis.field %></td>
        <td><%= analysis.created_at %></td>
        <td><%= analysis.user_id %></td>
        <td><%= analysis.videogame_id %></td>
        <td><%= link_to 'Show', analysis %></td>
        <td><%= link_to 'Edit', edit_analysis_path(analysis) %></td>
        <td><%= link_to 'Destroy', analysis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Analysis', video_games_path %>
